$mobile: 768px;
$width: 250px;
$width-to-height: 1.732;
$radial: radial-gradient(circle, rgba(255, 255, 255, 0.7) 50%, transparent 50%);
$linear: linear-gradient(black, transparent);
$linear-less: linear-gradient(to bottom, black 30%, transparent);

.scroll {
  height: 100vh;
}

#new-contact {
  min-height: 100vh;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-ppmonument);

  .pillars {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -3;
    .pillar {
      scale: 0.5;
      position: absolute;
      top: 0;
      opacity: 0.8;

      background: $linear-less;
      mask-image: $linear-less;
      &.pillar-left {
        left: 0;
        translate: -25% 0;
      }
      &.pillar-right {
        right: 0;
        translate: 25% 0;
      }
    }
  }

  .triangle-container {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    z-index: -1;

    .triangle {
      border-style: solid;
      border-width: 0 $width ($width * $width-to-height) $width;
      border-color: transparent transparent #e4e4e6 transparent;

      background: $linear;
      mask-image: $linear;
      opacity: 0.3;
    }
  }

  .contact-text {
    cursor: pointer;
    text-align: center;
    position: relative;

    h1,
    p {
      margin: 0;
      position: relative;
      span {
        position: relative;
      }
    }
    h1 {
      font-size: 16rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      font-weight: 200;
      font-size: 1.5rem;
      letter-spacing: -0.5px;

      mask-image: linear-gradient(to bottom, gray 75%, transparent 100%);
    }
  }
}

@media only screen and (max-width: $mobile) {
  #new-contact {
    .contact-text {
      h1 {
        font-size: 8rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .pillars {
      .pillar {
        scale: 0.3;
        top: -20%;
      }
    }
  }
}
