footer {
  width: 100%;
  position: relative;
  padding: 0 48px 60px 48px;
  margin-bottom: 8px;

  display: flex;
  .container {
    flex: 1;
    .container-title {
      font-size: 3rem;
      text-transform: uppercase;
      border-bottom: 1px solid white;
      margin-bottom: 16px;
      display: inline-block;
    }
    .container-links {
      display: flex;
      flex-direction: column;

      * {
        font-size: 1.75rem;
        font-weight: 300;
      }
      a {
        text-decoration: none;
      }
    }
  }

  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 48px;
    z-index: 99;
    font-size: 1.5rem;
    color: white;

    display: flex;
    justify-content: space-between;
    .socials {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
    }
  }
}
