.circle {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    var(--preloader-second-color),
    var(--preloader-first-color)
  );
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  &.circle-1 {
    animation: rotate 5s linear infinite 3s, beOne 4s ease-in-out infinite 1s;
    translate: -100% -50%;
  }
  &.circle-2 {
    animation: rotate 5s linear infinite 3s,
      beOne-Two 4s ease-in-out infinite 1s;
    translate: 100% -50%;
  }
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes beOne {
  40% {
    translate: 0% -50%;
    scale: 1.6;
  }
  60% {
    translate: 0% -50%;
    scale: 1.4;
  }
  100% {
    translate: -100% -50%;
    scale: 1;
  }
}
@keyframes beOne-Two {
  40% {
    translate: 0% -50%;
    scale: 1.6;
  }
  60% {
    translate: 0% -50%;
    scale: 1.4;
  }
  100% {
    translate: 100% -50%;
    scale: 1;
  }
}
