#hero {
  height: 100vh;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  h1,
  h2,
  p,
  span {
    overflow: hidden;
  }
  span {
    display: inline-block;
  }
  h1,
  h2 {
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11rem;
  }
  h2 {
    font-size: 7rem;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  p {
    font-size: 2rem;
  }
  .text-container {
    max-width: 640px;
  }
  .right-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    text-align: right;
  }
  .text-container {
    max-width: 640px;
    &.left {
      display: flex;
      align-items: center;
      padding-bottom: 64px;
    }
  }
  .empty-container {
    height: 50%;
  }
  .chevrondown-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
  }
}
