#hero {
  margin-bottom: -100vh;
  position: relative;
  .empty-container {
    height: 100vh;
  }
  .hero-content {
    padding-block: 128px;
    padding-inline: 24px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: var(--font-poppins);
    text-align: center;

    position: sticky;
    top: 0;

    overflow: hidden;
    h1,
    h2,
    p,
    span {
      overflow: hidden;
    }

    h1,
    h2 {
      line-height: 1;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      user-select: none;
    }
    div {
      width: 100%;
    }
    .title {
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
      font-size: 20rem;
    }

    h2 {
      font-size: 6.3rem;
      letter-spacing: -1px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 2rem;
      max-width: 700px;
      font-weight: 200;
    }

    .right {
      height: 100vh;
    }

    .underline {
      position: relative;
    }

    .underline::after {
      content: "";
      width: var(--after-width);
      height: 24px;
      background-image: url("/images/svgs/smallunderline.svg");
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      bottom: 0;
    }

    .subtitle {
      position: relative;
    }
    span {
      position: relative;
    }

    .chevrondown-container {
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
    }

    @media only screen and (max-width: 768px) {
      padding: 0 12px 0 12px;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .title {
        font-size: 5.8rem;
        margin: 0;
      }
      h2 {
        font-size: 4rem;
        line-height: 1.2;
      }

      .underline::after {
        height: 24px;
        bottom: -10%;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
