$mobile: 768px;
$radial: radial-gradient(circle, rgba(255, 255, 255, 0.7) 50%, transparent 50%);
$linear-less: linear-gradient(to bottom, black 30%, transparent);

#new-contact {
  min-height: 200vh;
  position: relative;

  font-family: var(--font-ppmonument);

  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pillars {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0.5;
    z-index: -3;
    .pillar {
      scale: 0.5;
      position: absolute;
      top: 0;
      opacity: 0.8;

      background: $linear-less;
      mask-image: $linear-less;
      &.pillar-left {
        left: 0;
        translate: -25% 0;
      }
      &.pillar-right {
        right: 0;
        translate: 25% 0;
      }
    }
  }

  .contact-text {
    text-align: center;
    position: relative;

    h1,
    p {
      margin: 0;
      position: relative;
      span {
        position: relative;
      }
    }
    h1 {
      cursor: pointer;
      font-size: 16rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      font-weight: 200;
      font-size: 1.5rem;
      letter-spacing: -0.5px;

      mask-image: linear-gradient(to bottom, gray 75%, transparent 100%);
    }
  }

  a {
    background-position-y: -0%;
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      blacks 50%
    ) !important;
    transition: all 0.1s ease;
    background-size: 2px;
    background-size: auto 190%;
    padding: 3px 0;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    background-position-y: 100%;
    color: white;
    transition: all 0.1s ease;
  }
}

@media only screen and (max-width: $mobile) {
  #new-contact {
    .contact-text {
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .pillars {
      .pillar {
        scale: 0.3;
        top: -20%;
      }
    }
  }
}
