:root {
  --background-color: #242424;
  --background-color: black;
  --secondary-color: hsl(220, 39%, 31%);
  --accent-color: #243b55;
  --preloader-first-color: #42275a;
  --preloader-first-color: #141e30;
  --preloader-second-color: #734b6d;
  --preloader-second-color: #243b55;
  --projects-background-color: black;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  font-family: var(--font-poppins);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
