$mobile: 768px;
$accent-color: mediumpurple;
$transition: all 350ms ease-in-out;

@mixin button-text-style {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: $transition;
}
@mixin glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#projects {
  display: flex;
  min-height: 100vh;
  padding: 10rem 2rem 25rem 2rem;
  gap: 4rem;
  flex-wrap: wrap;

  .project {
    position: relative;
    flex-direction: column;
    display: flex;
    width: calc(50% - 2rem);
    min-height: 500px;
    &.letters-app {
      width: 1200px;
      height: 800px;
    }
    .project__image {
      position: relative;
      width: 100%;
      height: 100%;
      transition: $transition;
      z-index: 3;
      border-radius: 20px;
      flex: 0 0 80%;
      img {
        border-radius: 10px;
      }

      &:hover {
        scale: 1;
      }
    }

    .title {
      font-size: 3rem;
      font-weight: 600;

      color: $accent-color;
      margin-inline: 0;
      margin-block: 2rem;
    }

    .project__links {
      position: absolute;
      bottom: 0;
      translate: 5% -25%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 99;
      .container {
        display: flex;
        gap: 10px;
      }

      a.button {
        @include button-text-style;
        display: inline-block;
        border-radius: 50%;
        min-height: 80px;
        min-width: 80px;
        display: flex;

        align-items: center;
        justify-content: center;

        position: relative;
        background: black;
        color: white;
        &.title-button {
          min-width: 120px;
          min-height: 60px;
          text-align: center;
          padding: 2rem 2rem;
          text-transform: lowercase;
          font-size: 2rem;
          border-radius: 9999px;
        }
        * {
          fill: white;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 1rem;
    gap: 2rem;
    .project {
      flex-direction: column;
      width: 100%;
      .project__image {
        position: relative;
        height: 250px;
        width: 100%;

        img {
          padding-top: 0;
          object-fit: cover;
        }
      }
      .title {
        font-size: 3rem;
      }
      .project__links {
        a {
          font-size: 1.6rem;
          &.button {
            height: 56px;
            width: 56px;
          }
        }
      }
    }
  }
}
