.projects-section {
  font-family: var(--font-poppins);
  font-weight: 600;
  letter-spacing: -5px;

  min-height: 400vh;
  margin-top: 50vh;
  margin-bottom: 15vh;
  position: relative;

  .big-title {
    font-size: 6rem;
    color: white;
    text-align: left;
    margin-block: 4rem;
    text-indent: 4rem;
  }

  .projects {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 768px) {
    .big-title {
      font-size: 4rem;
      text-align: center;
      margin-block: 2rem;
      text-indent: 0;
    }

    .projects {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
